body {
    background-color: #EAE6F2;
}

#arrowBack {
    position: fixed;
    left: 0;
    top: 10px;
}

.diary {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.diary_cover {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.diary_paper {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}


.slide_btn {
    /*슬라이드 업 다운버튼*/

    width: 50px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 30px;
    float: right;
    position: absolute;
    top: -70px;
    left: 20px;
}

.tab_wrap {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 100%;
    transition: all 600ms ease-in-out;
}

.nav li a {
    color: black;
}

.active a {
    color: #933DEA !important;
}


.tab-pane {
    position: relative;
    height: 500px;
}

.slider {

    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 10%;

}

/*슬라이드 이미지*/
.slider div img {
    width: 100%;
    background-size: 100px;
}

/*슬라이드 화살표 둘다*/
.slick-arrow {
    position: absolute;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
}



/*슬라이드 왼쪽 화살표*/
.slick-prev {
    left: -45px;
    top: 50%;
    z-index: 10;
    background-image: url("../img/arrowL.png");
    background-size: 45px;
    border: none;
    background-color: #00ff0000;
    font-size: 0;
    color: transparent;
}

/*슬라이드 오른쪽 화살표*/
.slick-next {
    right: -45px;
    top: 50%;
    z-index: 10;
    background-image: url("../img/arrowR.png");
    background-size: 45px;
    border: none;
    background-color: #00ff0000;
    font-size: 0;
    color: transparent;
}