body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
    float: center;
    margin: 0 auto;
}
/*
.main {
    width: 60%;
    float: center;
    position: static;
}

/* .left{
    width: 60%;
    height: 100%;
    float: left;
   

} 


 #head {
    position: fixed;
    background-color: #ffffff;
    margin: 0 auto;
    top: 0;
    float: center;
} 

.body {
    padding-top: 25%;
    width: 100%;
    float: right;
    text-align: center;
}

#content {
    width: 100%;
    padding-bottom: 10%;
    /* margin: 10%; 

}



#contentsWord {
    text-align: center;
    padding-left: 13%;
    font-size: 1.3vw;
}

#mypage {
    text-align: left;
    padding-top: 6%;
    padding-bottom: 15px;
    font-size: 3vw;
    font-family: 'Noto Sans', sans-serif;
} */

#title{
    margin-top: 2%;
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 5%;
}

#main{
    width: 60%;
    float: center;
    margin: 0 auto;
    /* text-align: center; */
    /* position: relative; */
}
#contentsWord{
    margin-left: 22%;
}
#content{
    
    float: center;
}

/* #leftSpace{
    width: 30%;
    height: 100%;
    float: left;
    position: static;
} */